.content-centr {
	width: 98%;
	background-color: #fff;
	border: 1px solid #d0d0d2;
	border-radius: 3px;
	height: 200px;
	margin: 10px 5px 5px 5px;
}

.content-right,
.content-right-tl {
	margin: 10px;
	width: 98%;
	background-color: #fff;
	border: 1px solid #d0d0d2;
	border-radius: 3px;
	height: 200px;
	text-align: center;
}

.content-right-tl {
	padding: 10px 50px 10px 50px;
}

.shared {
	height: 50px;
	padding: 7px 0;
	text-align: center;
}

.mind {
	height: 50px;
}

#mind {
	margin: 6px auto;
	width: 90%;
}

.news-content {
	width: 100%;
	background-color: #fff;
	border: 1px solid #d0d0d2;
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 25px;
	text-align: justify;
}

.title-content {
	padding-bottom: 20px;
	border-bottom: 1px solid #d0d0d2;
	text-align: left;
}

.avatar img {}

img {
	margin: 0 auto;
}

.navbar-left {
	padding: 25px;
}

.navbar-left a {
	text-decoration: none;
	color: #868686;
	margin: 15px;
}

.status {
	float: right;
	color: #d0d0d2;
}

.avatar {
	text-align: center;
}

.btn-primary {
	padding: 6px 4px;
}

.btn-info {
	padding: 6px 4px;
}

.elrment-menu {
	margin: 10px 15px;
	padding: 5px 0;
	cursor: pointer;
}

.elrment-menu:hover {
	background-color: #a7a7a7;
}

@media screen and (max-width: 992px) {
	.navbar-left {
		text-align: center;
	}
}

@media screen and (max-width: 480px) {
	.navbar-logo sub {
		display: none;
	}
	.navbar-left {
		text-align: center;
	}
}