body {
	margin: 0;
	padding: 0;
	background-color: #f5f6fa;
}

.navbar {
	margin-left: -15%;
	padding-left: 15%;
	margin-right: -9.5%;
	padding-right: 9.5%;
	padding-top: 15px;
	height: 70px;
	font-size: 24px;
	color: #467abe;
	background-color: #fff;
	font-family: sans-serif;
	border-bottom: 1px solid #d0d0d2;
}

.navbar a {
	text-decoration: none;
}

.navbar-logo {
	display: inline-block;
}

.navbar-logo sub {
	font-size: 10px;
}

.navbar-login {
	float: right;
}

main {
	height: 470px;
	background-color: #f5f6fa;
}

.map-ua img {
	max-width: 100%;
	position: relative;
	top: 65px;
}

.saidebar {
	margin: 0 auto;
	text-align: center;
	border: 1px solid #d0d0d2;
	margin-top: 70px;
	height: 300px;
	width: 350px;
	background-color: #fff;
	border-radius: 3px;
}

h3 {
	color: #353c4f;
	font-family: sans-serif;
}

h4 {
	color: #8a8b8b;
	font-family: sans-serif;
	padding-bottom: 50px;
}

.saidebar span {
	padding: 20px;
	background: #073c81;
	border-radius: 3px;
	color: #fff;
}

.saidebar span a {
	text-decoration: none;
	color: #fff;
}

.saidebar span:hover {
	background-color: #073ca2;
}

.reg-email a {
	text-decoration: none;
	color: #8a8b8b;
}

.reg-email a:hover {
	color: #cecece;
}

.reg-email {
	position: relative;
	top: 50px;
	color: #a9abaa;
}

footer {
	height: 70px;
	border-top: 1px solid #d0d0d2;
	margin-left: -50px;
	padding-left: 50px;
	margin-right: -50px;
	padding-right: 50px;
	
}

footer a {
	text-decoration: none;
	color: #777777;
}

footer a:hover {
	color: #b2b2b2;
	text-decoration: none;
}

.footer-nav {
	margin: 0 auto;
	text-align: center;
	margin-top: 25px;
}

footer .confid {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {
	.map-ua img {
		top: 120px;
	}
}

@media screen and (max-width: 767px) {
	.map-ua img {
		display: none;
	}
}

@media screen and (max-width: 480px) {}