body {
	margin: 0;
	padding: 0;
	background-color: #f5f6fa;
}

.navbar {
	padding-top: 15px;
	font-size: 24px;
	color: #467abe;
	background-color: #fff;
	font-family: sans-serif;
}

.header-container {
	border-bottom: 1px solid #d0d0d2;
	background-color: #fff;
	height: 70px;
}

.navbar a {
	text-decoration: none;
}

.navbar-logo {
	display: inline-block;
}

.navbar-logo sub {
	font-size: 10px;
}

.navbar-login {
	float: right;
	cursor: pointer;
}

.navbar-login:hover,
.navbar-logo:hover {
	color: #e8721b;
}

main {
	background-color: #fff;
	margin: 20px 0 20px 0;
	padding: 40px 60px;
	min-height: 470px;
	border-radius: 3px;
	font-family: sans-serif;
	color: #767676;
}

.footer-container {
	border-top: 1px solid #d0d0d2;
	height: 70px;
}

footer a {
	text-decoration: none;
	color: #777777;
}

footer a:hover {
	color: #b2b2b2;
	text-decoration: none;
}

.footer-nav {
	margin: 0px auto;
	text-align: center;
	margin-top: 25px;
}
h2 span {
	text-decoration:underline;
}

