body {
	margin: 0;
	padding: 0;
	background-color: #f5f6fa;
}

.header-container {
	border-bottom: 1px solid #d0d0d2;
	background-color: #fff;
	height: 60px;
}

.navbar {
	background-color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
}

.navbar a {
	text-decoration: none;
}

.navbar-logo {
	display: inline-block;
	padding: 12px;
}

.navbar-logo sub {
	font-size: 10px;
}

.navbar-login {
	float: right;
	cursor: pointer;
	font-size: 16px;
	padding: 17px;
}

main {
	min-height: 500px;
}

.content-about,
.content-contact,
.content-confid {
	background-color: #fff;
	border: 1px solid #d0d0d2;
	padding: 5px;
	display: none;
	margin: 10px;
}

#main-about,
#contact-page,
#confid-page {
	background-color: #fff;
	text-align: justify;
	padding: 40px 60px;
	min-height: 470px;
	border-radius: 3px;
	font-family: sans-serif;
	color: #767676;
}

h2 span {
	text-decoration: underline;
}

.map-ua img {
	max-width: 100%;
	position: relative;
	top: 65px;
}

.saidebar {
	margin: 0 auto;
	text-align: center;
	border: 1px solid #d0d0d2;
	margin-top: 70px;
	height: 300px;
	width: 300px;
	background-color: #fff;
	border-radius: 3px;
}

#saidebar-log2 {
	display: none;
}

#saidebar h3 {
	color: #353c4f;
	font-family: sans-serif;
}

#saidebar h4 {
	color: #8a8b8b;
	font-family: sans-serif;
	padding-bottom: 50px;
}

.saidebar #login-fb,
.saidebar #login-vk {
	cursor: pointer;
	margin: 0 auto;
	padding: 20px 1px;
	width: 270px;
	background: #073c81;
	border-radius: 3px;
	color: #fff;
}

.saidebar #login-vk {
	display: none;
}

.saidebar a {
	text-decoration: none;
}

.saidebar #login-fb:hover,
.saidebar #login-vk:hover {
	background-color: #054ead;
}

.reg-email {
	position: relative;
	top: 50px;
	color: #a9abaa;
}

.reg-email:hover {
	color: #cecece;
}

#email-reg {
	display: none;
}

#login-email,
#login {
	cursor: pointer;
	margin: 0 auto;
	padding: 20px 1px;
	width: 270px;
	background: #fff;
	border-radius: 3px;
	color: #000000;
	border: 1px solid #000000;
}

#login-email:hover,
#login:hover {
	color: #fff;
	background-color: #1d1d1d;
}

#or {
	margin: 25px;
}

.footer-container {
	border-top: 1px solid #d0d0d2;
	height: 70px;
}

footer a {
	text-decoration: none;
	color: #777777;
}

footer a:hover {
	color: #b2b2b2;
	text-decoration: none;
}

.footer-nav {
	margin: 0px auto;
	text-align: center;
	margin-top: 25px;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {
	.map-ua img {
		top: 120px;
	}
}

@media screen and (max-width: 767px) {
	.map-ua img {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.saidebar {
		height: 300px;
		width: 200px;
	}
	.saidebar #login-fb,
	.saidebar #login-vk {
		padding: 5px 1px;
		width: 170px;
	}
	#login-email,
	#login {
		margin: 0 auto;
		padding: 2px 1px;
		width: 170px;
	}
	#or {
		margin: 5px;
	}
	.navbar-logo sub {
		display: none;
	}
}

#exampleInputEmail2 {
	width: 270px;
	margin: 20px auto;
}

#exampleInputPassword2 {
	width: 270px;
	margin: 20px auto;
}

.footer-btn {
	color: #585858;
	font-family: 'Nunito', sans-serif;
	cursor: pointer;
}

.footer-btn:hover {
	color: #cecece;
}